<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChattingMapper">
	
	<select id="selectMembersExceptMe" resultType="MemberDTO">
		select * from member where member_num != #{member_num}
	</select>
	
	<!-- 조건으로 검색 -->
	<select id="searchValue" resultType="MemberDTO" parameterType="hashmap">
	select * from member
	  <where>
            <choose>
                <when test="searchCondition == 'all'">
                    div_name LIKE '%' || #{searchValue} || '%' or
                     member_name LIKE '%' || #{searchValue} || '%'
                </when>
                <otherwise>
                    <if test="searchCondition == 'division'">
                        div_name LIKE '%' || #{searchValue} || '%'
                    </if>
                    <if test="searchCondition == 'memberName'">
                        member_name LIKE '%' || #{searchValue} || '%'
                    </if>
                </otherwise>
            </choose>
        </where>
	</select>
	
	<insert id="createChatRoom" parameterType="ChatRoomDTO"><!-- 채팅방 생성 -->
		insert into chatroom (chatroom_num, chatroom_title, chatroom_type)
		values(seq_chat_room.nextval, #{chatroom_title}, #{chatroom_type})
		</insert>
		
		
		<insert id="registor" parameterType="int"><!-- 채팅방 사용자 등록 -->
		insert into chat_member values(
			seq_chat_room.currval,
			#{member_num},
			(select div_name from member where member_num = #{member_num}),
			(select member_name from member where member_num = #{member_num}),
			(select rank from member where member_num = #{member_num}),
			default
		)
		</insert>
	
		<select id="selectAllMember" resultType="ChatMemberDTO" parameterType="int"><!-- 채팅방 사용자 목록 조회 -->
		select * from chat_member where member_status = 0
		<if test="chatroom_num == 0">
			and chatroom_num = (select max(chatroom_num) from chatroom)
		</if>
		<if test="chatroom_num != 0">
			and chatroom_num = #{chatroom_num}
		</if>
		</select>
		
		<!-- 채팅방 번호 불러오기 -->
		<select id="selectOnechatRoomNum" resultType="int"><!-- 채팅방 번호 불러오기 -->
		select max(chatroom_num) from chatroom
		</select>
</mapper>