<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileBoardMapper">

	<select id="fileBoardList" resultType="FileBoardDTO">
		select
		file_board_no,
		member_num,
		file_board_date,
		file_board_title,
		file_board_content,
		file_board_view,
		file_name,
		file_rename,
		file_path
		from file_board
		order by
		1 desc
	</select>
	
	<select id="searchListTitle" resultType="FileBoardDTO" parameterType="HashMap" >
		select * 
		from file_board
		where file_board_title like '%'||#{searchVal}||'%' 
		order by 
		file_board_no desc
	</select>
	
	<select id="searchListUserId" resultType="FileBoardDTO" parameterType="HashMap" >
		select * from file_board
		where member_num like '%'|| ${searchVal} ||'%' 
		order by 
		file_board_no desc
	</select>
	
	
	<select id="fileBoardDetail" parameterType="int" resultType="FileBoardDTO">
		select
		file_board_no,
		member_num,
		file_board_date,
		file_board_title,
		file_board_content,
		file_board_view,
		file_name,
		file_rename,
		file_path
		from file_board
		where
		file_board_no=#{file_board_no}
	</select>

	<insert id="fileBoardInsert" parameterType="FileBoardDTO" useGeneratedKeys="true" keyProperty="file_board_no">
		<selectKey order="BEFORE" keyProperty="file_board_no"  resultType="int">
			SELECT FILE_BOARD_NO_SEQ.nextval FROM dual
		</selectKey>
		Insert into
		FILE_BOARD (
		file_board_no,
		member_num,
		file_board_date,
		file_board_title,
		file_board_content,
		file_board_view,
		file_name,
		file_rename,
		file_path
		) values (
		#{file_board_no},
		#{member_num},
		sysdate,
		#{file_board_title},
		#{file_board_content},
		0,
		#{file_name},
		#{file_rename},
		#{file_path}
		)
	</insert>

	<update id="fileBoardUpdate">
		update file_board
		set
		member_num=#{member_num},
		file_board_title=#{file_board_title},
		file_board_content=#{file_board_content}
		where
		file_board_no=#{file_board_no}
	</update>

	<delete id="fileBoardDelete" parameterType="int">
		delete from
		file_board
		where file_board_no = #{file_board_no}
	</delete>
	
	<update id="boardViews" parameterType="int">
		UPDATE file_board
		SET
		file_board_view = file_board_view+1
		WHERE file_board_no = #{file_board_no}
	</update>
	
	<select id="listCount" resultType="FileBoardDTO" parameterType="int">
	<![CDATA[
		SELECT * FROM file_board
		ORDER BY 1 DESC
	]]>
	</select>
	
	<insert id="fileBoardAttachFileInsert" parameterType="AttachVO">
		INSERT INTO attach (
		atch_no,
		atch_parent_no,
		atch_category,
		atch_file_name,
		atch_original_name,
		atch_file_size,
		atch_fancy_size,
		atch_content_type,
		atch_path,
		atch_down_hit,
		atch_del_yn,
		atch_reg_date
		) VALUES (
		file_board_attach_seq.nextval,
		#{atch_parent_no},
		#{atch_category},
		#{atch_file_name},
		#{atch_original_name},
		#{atch_file_size},
		#{atch_fancy_size},
		#{atch_content_type},
		#{atch_path},
		0,
		'N',
		SYSDATE
		)
	</insert>
	
	<select id="fileBoardDetailAttachVO" resultType="AttachVO" parameterType="int">
		select * from attach
		where atch_parent_no=#{file_board_no}
	</select>
	
	<select id="getAttach" resultType="AttachVO" parameterType="int">
		select * from attach
		where atch_no=#{atch_no}
	</select>
	
	<update id="increaseDownHit" parameterType="int">
    	UPDATE attach
   		SET atch_down_hit = atch_down_hit+1
     	WHERE atch_no = #{atch_no}
	</update>
</mapper>