<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MeetingRoomMapper">

	<insert id="reserve" parameterType="MeetingRoomDTO">
		insert into meeting_room values(#{member_num}, #{meeting_num}, #{meeting_date}, #{meeting_time}, #{reservation})
	</insert>
	
	<select id="select" resultType="MeetingRoomDTO"  parameterType="int">
		select * from meeting_room where member_num = #{member_num}
		and reservation='1'
	</select>
	
	<update id="delete" parameterType="MeetingRoomDTO">
		UPDATE MEETING_ROOM
		SET reservation = 0
		WHERE member_num = #{member_num} AND
		meeting_date =#{meeting_date} AND
		meeting_time = #{meeting_time} AND
		meeting_num = #{meeting_num} AND
		reservation = #{reservation}
	</update>
		
</mapper>