<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TodoMapper">
	<select id="getAllTodoList" parameterType="HashMap" resultType="TodoDTO">
		SELECT t.*
		FROM todo t JOIN project_todo pt ON t.todo_num = pt.todo_num
		WHERE project_num = #{project_num}
		order by due_date asc
	</select>

	<insert id="createTodo" parameterType="TodoDTO">
		INSERT INTO todo VALUES(
			#{todo_num},
			#{todo_title},
			#{status},
			#{start_date},
			#{due_date},
			#{member_name},
			#{content},
			#{conversion_ratio},
			#{top_task},
			#{member_num}
		)
	</insert>
	
	<insert id="addProjectTodo" parameterType="HashMap">
		INSERT INTO project_todo VALUES(
			#{project_num},
			#{todo_num}
		)
		
	</insert>
	
	<update id="updateTodo" parameterType="TodoDTO">
		UPDATE todo SET
			todo_title = #{todo_title},
			status = #{status},
			start_date = #{start_date},
			due_date = #{due_date},
			content = #{content},
			conversion_ratio = #{conversion_ratio},
			top_task = #{top_task}
		WHERE todo_num = #{todo_num}
	</update>
	
	<delete id="deleteTodo" parameterType="TodoDTO">
		DELETE FROM todo 
		WHERE todo_num = #{todo_num}	
	</delete>
	
	<!-- 프로젝트가 삭제될 때 프로젝트에 포함된 TODO가 같이 삭제되도록 하기 위함-->
	<delete id="deleteTodoAtporjectTodo">
		DELETE FROM project_todo
	</delete>
	
</mapper>