@charset "UTF-8";

.c-container{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chatList{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 73%;
}

.contents {
    height: 475px;
    min-height: 430px;
    width: 400px;
    border: 2px solid #8080803d;
    overflow-y: scroll;
    border-radius: 8px;
}

.contentsList{
	height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    background: #8080801a;
}
.contentsList:nth-child(odd) {
    background-color: #beb3b305;
}
.head{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.head img{
    cursor: pointer;
    width: 35px;
    margin-right: 10px;
}


.head p{
    font-weight: 600;
    letter-spacing: 2px;
    color: #3a3333;
    font-size: 18px;
    margin-left: 5px;
}

/* 채팅방 정렬 */
.center{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.center-span {
    letter-spacing: 1px;
    color: #717171;
    font-size: 14px;
    font-weight: 600;
}

.center span:last-child{
	width: 100%;        /* 또는 원하는 너비로 설정 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.2em;  /* 폰트 크기에 따라 조정할 수 있습니다 */
    line-height: 1.2em; /* 이것도 폰트 크기에 따라 조정할 수 있습니다 */
    font-size: small;
    margin-top: 5px;
}

.right{
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    font-size: 12px;
    color: #808080de;
}

.right span:last-child{
    margin-top: 2px;
}

.chatImg{
    margin: 0 13px -4px -10px;
    width: 40px;
}

/* 사용자 초대 */
.head2 p{
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #272323;
    margin-right: 20px;
}

.memberList input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 텍스트 사이의 간격 조절 */
}

.memberList{
	border: 1px solid #ccc;
    width: 100%;
    height: 180px;
    width: 310px;
    overflow: scroll;
    display: flex;
    border-radius: 6px;
    margin-top: 5px;
}

.memberList ul{
	padding-left: 20px;
}
.memberList li{
	list-style: none;
    padding: 4px 0px 4px 0px;
    font-size: 15px;
    color: #4b4040;
    font-size: 14px;
}

.invite_R{
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.invite_L {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.select{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 7px;
}

/* select 태그 스타일 */
.select select {
	width: auto;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 9px;
    border-radius: 6px;
}

/* input 태그 스타일 */
.select input[type="text"] {
    width: 700px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-left: 10px;
    color: gray;
}

#selected{
/* 	margin-top: 3px; */
/*     max-height: 55px; */
/*     min-width: 200px; */
/*     display: flex; */
/*     flex-wrap: wrap; */
/*     margin-bottom: 10px; */
}


#selected p{
	margin: 5px 5px 2px 7px;
    
}

#selected p span{
	background-color: rgb(139 184 139 / 22%);
    border-radius: 1em;
    padding: 1px 3px 1px 3px;
    font-size: small;
}

#chatTitle{
    padding-left: 10px;
    border: 1px solid #8080809c;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #8e7e7ed6;
    width: 170px;
    height: 25px;
}
#create2 {
    height: 30px;
    width: 100px;
    background: #f5e1e11c;
    border: 1px solid #80808063;
    border-radius: 20px;
    font-size: 12px;
    color: #494343a6;
}

#chatout{
	height: 30px;
	width: 30px;
}

/* 세로 스크롤바 전체 스타일 */
::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 폭 */
    background-color: #F5F5F5;  /* 스크롤바의 배경색 */
}

/* 스크롤바의 핸들 (실제로 움직이는 부분) */
::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;  /* 스크롤바 핸들의 색상 */
    border-radius: 5px;  /* 스크롤바 핸들의 둥근 모서리 */
}

/* 호버 시 스크롤바의 핸들 스타일 */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;  /* 호버 시의 색상 */
}

.c-info p{
	font-size: x-small;
}

.invite {
	display: none;
    position: relative;
    background: #d5e1e25e;
    padding: 10px 20px 25px 25px;
    border-radius: 20px;
    margin-left: 100px;
}

 .invite:after {
    content: '';
    position: absolute;
    left: 1px;
    top: 50%;
    width: 0;
    height: 0;
    border: 65px solid #d5e1e200;
    border-right-color: #d5e1e25e;
    border-left: 0;
    border-bottom: 0;
    margin-top: -40px;
    margin-left: -65px;
}
