@charset "UTF-8";


body {
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logoDiv{
  	font-family: Georgia, serif;
  	font-size: 20px;
	font-weight: bold;
    justify-content: center;
  }
  
  fieldset {
    border: 2px solid #d3c9b5;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
  }

  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #2db376;
    border-radius: 5px;
    height: 35%;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border: 2px solid #2db376;
    outline: none;
  }
  
  .login_btn {
	background-color: #2db376;
	color: white;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    height: 80%;
    width: 100%;
    transition: background-color 0.2s ease;
  }
  
  
  a {
    color: dimgray;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(25, 24, 24);
    text-decoration: none;
  }
  
.input{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.input_btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveCheckDiv{
  margin-left: 10px;
  margin-top: 10px;
  color: dimgray;
}

.passwordSearch{
  display: flex;
  justify-content: center;
}