@charset "UTF-8";

.table-container {
	margin: 0 auto;
	padding: 20px;
	width: 55%;
	display: flex;
	margin-top: 100px;
  }
  
  table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid white;
  }
  
  th, td {
	padding: 10px;
	text-align: center;
	border-bottom: 2px solid #e0e0e0;
	
  }
  
  th {
	color: #113626;
	width: 20%;
	border-top : 2px solid rgba(33, 135, 90);
	border-bottom : 2px solid rgba(33, 135, 90);
  }
  
  td {
	width: 26%; /* 일반 셀의 너비 조정 */
  }
  
  td button {
	background-color: transparent; /* 버튼 배경색 투명하게 설정 */
	color: 222A35;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 0.1s ease, color 0.1s ease;
  }
  
  td button:last-child {
	width: 80px; /* 버튼의 너비를 조정 */
  }
  
  td button:hover {
	background-color: rgba(33, 135, 90, 0.3);
  }

  tr:last-child td {
	border-bottom: 1px solid #D6DCE5;
  }

