@charset "UTF-8";

.table-container {
	margin: 0 auto;
	padding: 20px;
	position: absolute;
	left: 400px;
	width: 55%;
  }
  
  table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #e0e0e0;
  }
  
  th, td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	
  }
  
  th {
	background-color: #d3c9b5;
	color: #5d5442;
	width: 20%;
  }
  
  td {
	width: 26%; /* 일반 셀의 너비 조정 */
  }
  
  td button {
	background-color: transparent; /* 버튼 배경색 투명하게 설정 */
	color: 222A35;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
  }
  
  td button:last-child {
	width: 80px; /* 버튼의 너비를 조정 */
  }
  
  td button:hover {
	background-color: rgba(234, 225, 206, 0.7);
	border-color: #7f7157;
  }

  tr:last-child td {
	border-bottom: 1px solid #D6DCE5;
  }

