@charset "UTF-8";

html, body {
	height: 100%;
	font-family: sans-serif, serif;
}
.menu-top-container {
    display: flex;
    width: 100%;
    min-width: 1700px;
    position: fixed;
    top: 0;
    align-items: center;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    background-color: #fff;
    z-index: 1000;
    height: 78px;
}

.menuTop-img{
	padding: 10px 0px 10px 35px;
}
.link a{
	text-decoration: none;
	color: black;
}

.link-ul ul {
	list-style-type: none;
	display: flex;
	padding: 0;
}

.link-ul {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
}

.link-ul li {
	margin-right: 15px;
}

.link {
	font-size: 13px;
    color: black;
    padding: 14px 17px;
}

.link:link, .link:visited, .brand:link, .brand:visited {
	text-decoration: none;
}


.link:hover{
	border-bottom-color: #21875A;
	border-bottom-style: solid;
	color: #21875A;
	font-weight: bolder;
	cursor: pointer;
}

.dropdown {
	font-style: none;
    font-size: 13px;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    padding: 15px;
    background: rgba(217, 220, 218, 0.2);
    border-radius: 10px;
    margin-top: 28px;
    transform: translateX(-10%);
}

.dropdown a{
	font-style: none;
	color: #333;
	text-decoration: none;
	display: block;
	margin: 5px 0;
	text-align: center;
	padding: 5px;
}

.dropdown a:hover{
	font-weight: bold;
    color: #21875a;
}

.icon-container li{
	list-style: none;
    margin-top: 15px;
}

.icon-container a{
	list-style: none;
    margin-right: 25px;	
}

.icon-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}

.icon-container ul{
	display: flex;
	padding: 0;
}
.total-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.total-bottom-ul {
	margin-left: 25px;
}
    
.mem_name {
	font-size: 11px;
    font-weight: 600;
    color: #095509ab;
    letter-spacing: 1px;
}