@charset "UTF-8";

.tree {
	margin-top: 160px;
    margin-left: 330px;
    width: 100%;
    height: 100%;
    margin-bottom: 160px;
}

.top-mem {
    letter-spacing: 5px;
}

.top-li{
	background: #f9f9f9;
    color: #564949;
}

.org-name {
    margin-bottom: 9px;
}
/* li 태그 전체 */
.tree li {
	float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 10px 0 10px;
}

/* 부서 전체  가운데 정렬*/
.tree li ul {
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	width: 100%
}

/* li 태그 사이 선 그어주기 */
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

/* 오른쪽 태그의 왼쪽 선 -> 세로 선 */
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

.tree li li:last-child::before {
	border-right: 1px solid #ccc;
}

/* 불필요한 선 : display:none */
/* 자식 태그 하나일 경우 선 제거(대표이사) */
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/* 첫번째 부서 좌측 선 제거 */
.tree li li:first-child::before {
	display: none;
}

.tree li li:last-child::after {
	display: none;
}

/* a 태그의 박스형태 및 폰트 사이즈 */
.tree li a {
	border: 1px solid #ccc;
	padding: 18px 20px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	display: inline-block;
	width: 160px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/* hover effect */
.tree li a:not(.top-li):not(.top-mem):hover,
.tree li a:not(.top-li):not(.top-mem):hover+ul li a {
    color: #000;
    background: rgba(230, 230, 230, 0.25); /* 배경색 투명도 추가 */
	border: 2px solid #21875a;
	font-weight: 400;
    
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before,
	.tree li a:hover+ul ul::before {
	border-color: #94a0b4;
}

/* Modal */
/* Modal 뒤 반투명 배경 */
.modal {
    position: fixed;
   	z-index: 1000; /* 더 큰 값으로 변경 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

/* 실제 Modal 내용 */
.modal-content {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    padding: 10px 30px 25px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
    font-size: 12px
}

.modal-img {
    border-radius: 50%;
    padding: 20px;
    width: 150px;
}

.th-modal {
	color: #333;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #f9f9f9;
    text-align: left;
    padding: 2px 20px 0px;
}

.th-left-modal {
	border-bottom: 1px solid #e5e5e5;
}

.h3-class {
	padding: 10px;
    font-weight: bold;
    color: #100d0dd6;
    text-align: center;
}
.title-span2{
	font-size: 20px;
    margin-left: px;
    letter-spacing: 5px;
}
.title-span1{
    font-size: 13px;
    margin-left: px;
    letter-spacing: 7px;
    /* margin-left: 3px; */
    color: #8080806b;
    margin-right: 10px;
}